{
	"branches": [
		"v[0-9]{1,3}[.][0-9]{1,3}[.]x",
        {"name": "stable", "prerelease": false},
        {"name": "next", "prerelease": true}
	],
	"plugins": [
        ["@semantic-release/commit-analyzer", {
            "preset": "conventionalcommits"
        }],
        ["@semantic-release/release-notes-generator", {
            "preset": "conventionalcommits"
        }],
        ["@semantic-release/github", {
            "assets": [
              {"path": "dist.zip", "label": "Distribution Files"}
            ]
        }],
        "@semantic-release/npm"
	]
}
